<li
  class="flex items-center font-medium p-2 text-gray-700 bg-gray-100 dark:text-on-surface-variant dark:bg-surface-high rounded-full transition-all duration-200 hover:bg-gray-200 dark:hover:bg-surface-bright"
  [class.text-sm]="size() === 'small'"
  [class.px-3]="size() === 'small'"
  [class.py-1]="size() === 'small'"

  [class.text-base]="size() === 'medium'"
  [class.px-4]="size() === 'medium'"
  [class.py-2]="size() === 'medium'"

  [class.text-lg]="size() === 'large'"
  [class.px-5]="size() === 'large'"
  [class.py-2]="size() === 'large'"
>
  <ng-content></ng-content>
  <span>{{ label() }}</span>
</li>
