<div class="bg-white border border-gray-200 shadow-sm dark:bg-gray-800/40 dark:backdrop-blur-sm rounded-2xl dark:border-gray-700/50 dark:shadow-lg overflow-hidden transition-all duration-300 hover:border-gray-300 hover:shadow-md dark:hover:bg-gray-800/60 dark:hover:border-gray-600/50 h-full flex flex-col">
  <div class="p-6 flex-grow">
    <div class="flex justify-between items-start mb-2">
      <div class="flex-grow">
        @if (title()) {
          <h3 class="text-xl font-bold text-gray-900 dark:text-white leading-tight">{{ title() }}</h3>
        }
        @if (subtitle()) {
          <h4 class="text-md font-semibold text-gray-500 dark:text-gray-400 mt-1">{{ subtitle() }}</h4>
        }
      </div>
      @if (meta()) {
        <span class="text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap ml-4 bg-gray-100 dark:bg-gray-700/30 px-2 py-1 rounded-md border border-gray-200 dark:border-gray-600/30">{{ meta() }}</span>
      }
    </div>

    <div class="mt-4">
      <ng-content></ng-content>
    </div>
  </div>
</div>
